.panel-height {
    min-height: 275px !important;
}

textarea {
    resize: none !important;
}

.link-no-decoration {
    text-decoration: none;
    cursor: pointer;
}

.scaling-normal {    
    height: 70px;
    width: 70px;
    background-size: 70px 70px;
}

.padding-small {
    padding: 5px;
}

/** button **/
.btn-offset {
    margin-top: -2.5px !important;
    float: right;
}

.li-padding {
    padding: 10px;
}

.btn-left {
    float: left;
}

.btn-black {
    background-color: #444444;
    border-color: #333333;
    color: white;
}

.btn-black:hover{
    background-color: #222222;
    border-color: #111111;
    color: white;
}

.selected {
    background-color: #08C;
    color: white;
}

.selected:hover {
    background-color: #08C !important;
    color: white;
}

/** icons **/
.icon-finances {
    background-image: url("../images/mones-icon.png");
}

.icon-member {
    background-image: url("../images/users-icon.png");
}

.icon-menuplan {
    background-image: url("../images/dish-icon.png");
}

.icon-todo {
    background-image: url("../images/todo-icon.png");
}

.icon-shopping {
    background-image: url("../images/shopping-icon.png");
}

.icon-user {
    background-image: url("../images/user-icon.png");
}

.icon-user-owner {
    background-image: url("../images/user-owner-icon.png");
}

